@media all and (max-width: 1275px) {
    .regi-img {
       position:inherit;
      
    }
    .button-area ul li a {
        color: #282F43;
       
    }
    .menu ul li a{
        padding: 15px 10px;
      }
      .service-section .row{
        flex-direction: column;
      }
      .service-title h2 {
        max-width: 922px;
        text-align: center;
    }
    #accordionFlushExample {
        max-width: 600px;
        margin: auto;
    }
    #accordionFlushExample {
        max-width: 600px;
        margin: auto;
    }
    .industry-btn {
        text-align: center;
        padding: 15px 0;
    }
    .service-img-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .col-xl-8 {
        padding: 20px 0;
    }
}



@media all and (max-width:1150px) {
      .menu ul li a{
        padding: 15px 10px;
      }

}


@media all and (max-width: 1076px) {
    .menu{
        display: block;
    }
   
}




@media all and (max-width: 991px) {
    .mobile-menu{
        display: block;
    }
    .menu-items {
        display:none;
        position: absolute;
        top: 100px;
        left: 30%;
        width: 50%;
        background: rgb(118, 118, 240);
    }
    .menu-items ul {
       flex-direction: column;
    }
   
    .button-area {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .menu-items ul li {
        padding: 5px 0;
    }
    .menu-items ul li a:hover{
        color: #fff;
    }
    .button-area ul li {
        padding:0 10px;
    }
    
    .regi-section .row{
        flex-direction: column;
    }
    .regi-title h2 {
        text-align: center;
        max-width: 704px;
    }
    .regi-title p {
      max-width:700px;
        text-align: center;
    }
    .regi-area form {
        margin: auto;
    }
    .store-area {
        text-align: center;
    }
    .store-area ul {
        justify-content: center;
    }
    .store-area {
        text-align: center;
        padding: 38px;
    }
    .regi-img img {
        border-radius: 5%;
        max-width: 700px;
        padding: 0 15px;
    }
    .service-title h3 {
         max-width: 700px; 
         margin-left:0; 
        text-align: center;
    }
    .builder {
        margin: 10px;
    }
    .email-address-area {
        max-width: 320px;
    }
    .footer-menu ul li a {
        font-size: 15px;
        height: 30px;
        width: 30px;
    }
}





@media all and (max-width: 767px) {
    .regi-img img {
        max-width: 550px;
        padding: 0 23px;
    }
    .service-img-area {
        justify-content: center;
        flex-direction: column;
    }
    .women img {
        max-width: 100%;
        margin-top: 32px;
        height:100%; 
        border-radius: 5px;
    }
    .google-maps iframe {
        max-width:100%; 
        height: 400px;
        margin: 30px 0;
    }
    .service-title h3 {
        padding: 0 15px;
    }
    .builder {
        text-align: center;
    }
    .contact-content-area {
        margin-top: 50px;
        align-items: center;
    }
    .product-area {
      
        margin-left: 0;
    }

}



@media all and (max-width: 576px) {
    .button-area ul li {
        padding:0 4px;
    }
    .button-area ul li .active{
        display: none;
    }
    .regi-area form {
        padding: 0 15px;
    }
    .col-lg-3.col-md-6.text-center {
        padding: 10px 20px;
    }
    .request {
        flex-direction: column;
    }
    .request-demo {
        padding-top: 50px;
    }
    .request-call {
        text-align: center;
    }
    .request-call p {
        padding: 15px 0;
    }
    #accordionFlushExample {
        padding: 0 15px;
    }
    .google-maps iframe {
        padding: 0 15px;
    }

}